@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violete: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-tranparent-white: hsla(0, 0%, 100%, 0.6);
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    background: var(--Very-dark-blue);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-weight: 13pt;
}
.main{
    margin: 0 auto;
}

.container{
    width: 1010px;
    background-color: var(--Dark-desaturated-blue);
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 1rem;
    margin: 2rem;
}

.img-container img{
    width: 100%;
    height: 100%;
}

.img-container{
    position: relative;
}

.img-container::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsl(277, 64%, 61%, 0.4);
}

span{
    color: var(--soft-violete);
}

h1{
    font-size: 20pt;
}

p{
    font-size: 10pt;
    color: var(--Slightly-tranparent-white);
}

.title{
    font-weight: 700;
    padding-bottom: 1rem;
}

.subtitle{
    line-height: 1.8;
}

.text-container{
    padding: 13%;
}

.informations{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.settings{
    font-size: 8pt;
}

.number{
    font-size: 16pt;
    color: var(--white);
    margin-bottom: 0.3rem;
}

.informations h1{
    font-size: 14pt;
}

.description{
    padding-top: 0.5rem;
    margin-bottom: 4rem;
}


